---
---

  {% include head.html %}

  <body>
    {% include tabs.html %}
    <!-- Carousel
    ================================================== -->
    {% include carousel.html %}
    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../img/me.jpg" alt="Generic placeholder image" width="160" height="160">
          <h2>About me</h2>
<!--           <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p> -->
          <p><a class="btn btn-default" href="#about" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../img/publication.jpg" alt="Generic placeholder image" width="160" height="160">
          <h2>Publications</h2>
<!--           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <p><a class="btn btn-default" href="#publication" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Research interests</h2>
<!--           <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
          <p><a class="btn btn-default" href="#research" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div id="about">  
        <div class="row featurette">
          <div class="col-md-7">
  <!--           <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2> -->
            <h2 class="featurette-heading">About me</h2>
            <p class="lead">I have a strong interest in (sub)mesoscale turbulence in the ocean and how they interact with the large-scale ocean circulation and the biosphere particularly in the Southern Ocean. I approach the problems by analyzing data outputs from general circulation models, idealized numerical simulations and satelite observations.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/me2.jpg" alt="Generic placeholder image" width="300" height="300">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div id="publication">
        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Publications.</h2>
            <p class="lead">
              <a>
                Uchida, T., R. Abernathey and S. Smith. 
                <b>Seasonality in Ocean Turbulence in a High Resolution Global Climate Model.</b> 
                Ocean Modelling. (Manuscript submitted for publication)
              </a>
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../img/publication.jpg" alt="Generic placeholder image" width="300" height="300">
          </div>
        </div>
      </div>

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Takaya Uchida</strong></h4>
                    <p>205A Oceanography<br>61 Route 9W - PO Box 1000<br>Palisades NY 10964<br>United States</p>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +1 (347) 429-0971</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:takaya@ldeo.columbia.edu">takaya@ldeo.columbia.edu</a>
                    </ul>

                    <!-- <ul class="list-unstyled">
                      <li>  <a href="https://www.linkedin.com/in/julius-busecke-a47027117">LinkedIn</a> </li>
                      <li>  <a href="https://www.researchgate.net/profile/Julius_Busecke">ResearchGate</a> </li>
                    </ul> -->

                    <ul class="list-inline">
                        <!-- <li>
                            <a href="https://vimeo.com/user52830334"><i class="fa fa-vimeo-square fa-fw fa-2x"></i></a>
                        </li> -->
                        <!-- <li>
                            <a href="https://github.com/jbusecke"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
                        </li> -->
                        <li>
                            <a href="https://www.linkedin.com/in/takaya-uchida-3a2721b4/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
<!--                         <li>
                            <a href="https://www.researchgate.net/profile/Julius_Busecke"><i class="ai ai-researchgate-square ai-2x"></i></a>
                        </li> -->
<!--                         <li>
                            <a href="https://www.orcid.org/0000-0001-8571-865X"><i class="ai ai-orcid-square ai-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=nXQo4RkAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a>
                        </li> -->

                        <!-- <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li> -->
                    </ul>

                    <br>

<!--                     <hr class="small">
                    <p class="text-muted">Copyright &copy; Julius Busecke 2016</p> -->
                </div>
            </div>
        </div>
<!--         <p class="pull-right"><a href="#">Back to top</a></p> -->
        <!-- <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
