---
---

  {% include head.html %}

  <body>
    {% include tabs.html %}
    <!-- Carousel
    ================================================== -->
    {% include carousel.html %}
    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../img/me.jpg" alt="Generic placeholder image" width="160" height="160">
          <h2>About me</h2>
<!--           <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p> -->
          <p><a class="btn btn-default" href="#about" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../img/publication.jpg" alt="Generic placeholder image" width="160" height="160">
          <h2>Publications</h2>
<!--           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <p><a class="btn btn-default" href="#publication" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../img/beer.png" alt="Generic placeholder image" width="160" height="160">
          <h2>Research interests</h2>
<!--           <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
          <p><a class="btn btn-default" href="#research" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div id="about">
        <div class="row featurette">
          <div class="col-md-7">
  <!--           <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2> -->
            <h2 class="featurette-heading">About me</h2>
            <p class="lead">A physical oceanographer with a flair of geophysical fluid dynamics and data science. I have a strong interest in (sub)mesoscale turbulence in the surface ocean and how it interacts with the large-scale ocean circulation and biogeochemistry. I approach the problems by analyzing big data outputs from general circulation models, idealized numerical simulations and remote-sensed observations.</p>
            <h2>Positions held</h2>
            <p class="lead-dark lead", style="font-size:17px">
              <b>Senior Researcher</b><br>Moscow Institute of Physics and Technology (МФТИ), Russia<br>2025-present
            </p>
            <p class="lead-dark lead", style="font-size:17px">
              <b>Assistant Research Scientist</b><br>Florida State University
              (FSU), USA<br>2022-2024
            </p>
            <p class="lead-dark lead", style="font-size:17px;margin-bottom:1cm">
              <b>MOPGA Postdoctoral Research Fellow</b><br>Centre National de la Recherche Scientifique (CNRS), France<br>2019-2022
            </p>
            <h2>Education</h2>
            <p class="lead-dark lead", style="font-size:17px">
              <b>Ph.D. - Physical Oceanography</b><br>Columbia University in the City of New York, USA<br>2014-2019
            </p>
            <p class="lead-dark lead", style="font-size:17px">
              <b>Summer School - Turbulence Theory in Climate Dynamics</b><br>École de Physique des Houches, France<br>August 2017
            </p>
            <p class="lead-dark lead", style="font-size:17px">
              <b>B.E. - Ocean Engineering</b><br>The University of Tokyo, Japan<br>2010-2014
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/MOPGA_cropped.JPG" alt="Generic placeholder image" width="300" height="300">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div id="publication">
        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Publications</h2>
            <h2>Submitted</h2>
            <p  class="lead", style="font-size:15px">
              <a href="https://arxiv.org/abs/2407.09309">
              <b>Uchida, T.</b>, B. Yadidya, K. Lapo, X. Xu, J. Early, B. Arbic, D. Menemenlis & others.
              Dynamic-Mode Decomposition of Geostrophically Balanced Motions from SWOT Altimetry.
              <i>Earth and Space Sci.</i>
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="http://dx.doi.org/10.22541/essoar.174164232.20506498/v1">
              Yadidya, B., B. Arbic, J. Shriver, E. Zaron, M. Buijsman, L. Carrere, ... & <b>T. Uchida</b>.
              Predicting internal tides with a global ocean forecast system: Insights from the SWOT Cal/Val orbit.
              <i>Earth and Space Sci.</i>
              </a>
            </p>
            <p  class="lead", style="font-size:15px;margin-bottom:1cm">
              Richards, C., B. Ervens, C. Parmesan, P. Amato, C. Andrade, G. Asatryan, ..., <b>T. Uchida</b> & others.
              Addressing global environmental challenges requires interdisciplinary science programs: Lessons learned from the Franco-German "Make Our Planet Great Again" (MOPGA) initiative.
              <i>Proc. Nat. Acad. Sci.</i>
            </p>

            <h2>In preparation</h2>
            <p  class="lead", style="font-size:15px">
              <b>Uchida, T.</b>, A. Bodner, B. Reichl, A. Adcroft, B. Fox-Kemper, M. Ilicak, M. Bentsen & others.
              Representation of surface mixed-layer eddies affect the large-scale ventilation of the global ocean.
            </p>
            <p  class="lead", style="font-size:15px;margin-bottom:1cm">
              Sun, L., T. Penduff, W. Dewar, B. Deremble & <b>T. Uchida</b>.
              Thickness-weighted averaged subtropical mode-water dynamics in an eddying North Atlantic ensemble.
            </p>

            <h2>Published</h2>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2024MS004781">
              <b>Uchida, T.</b>, Q. Jamet, A. Poje, N. Wienders, L. Sun & W. Dewar.
              Dynamics and thermodynamics of the Boussinesq North Atlantic eddy kinetic energy spectral budget.
              <i>J. Adv. Model. Earth Sys.</i> 2025.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1016/j.ocemod.2024.102392">
              <b>Uchida, T.</b>, Q. Jamet, A. Poje, N. Wienders & W. Dewar.
              Wavelet-based wavenumber spectral estimate of eddy kinetic energy: Application to the North Atlantic.
              <i>Ocean Model.</i> 2024.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1175/JPO-D-23-0176.1">
              <b>Uchida, T.</b>, Q. Jamet, W. Dewar, B. Deremble, A. Poje & L. Sun.
              Imprint of chaos on the ocean energy cycle from an eddying North Atlantic ensemble.
              <i>J. Phys. Oceanogr.</i> 2024.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2022MS003572">
              Deremble, B., <b>T. Uchida</b>, W. Dewar & R. Samelson.
              Eddy-mean flow interaction with the Multiple Scale Quasi-Geostrophic Model.
              <i>J. Adv. Model. Earth Sys.</i> 2023.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://journals.ametsoc.org/view/journals/phoc/aop/JPO-D-23-0008.1/JPO-D-23-0008.1.xml">
              Chassignet, E., X. Xu, A. Bozec, & <b>T. Uchida</b>.
              Impact of the New England seamount chain on Gulf Stream pathway and variability.
              <i>J. Phys. Oceanogr.</i> 2023.
              </a>
            </p>
	        <p  class="lead", style="font-size:15px">
              <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2022MS003399">
              <b>Uchida, T.</b>, Q. Jamet, A. Poje, N. Wienders, W. Dewar & B. Deremble.
              Wavelet-based wavenumber spectral estimate of eddy kinetic energy: Idealized quasi-geostrophic flow.
              <i>J. Adv. Model. Earth Sys.</i> 2023.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1016/j.ocemod.2023.102172">
              <b>Uchida, T.</b>, D. Balwada, Q. Jamet, W. Dewar, B. Deremble, T. Penduff & J. Le Sommer.
              Cautionary tales from the mesoscale eddy transport tensor.
              <i>Ocean Model.</i> 2023.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://gmd.copernicus.org/articles/15/5829/2022/">
              <b>Uchida, T.</b>, J. Le Sommer, C. Stern, R. Abernathey, C. Holdgraf, A. Albert, L. Brodeau & others.
              Cloud-based framework for inter-comparing submesoscale permitting realistic ocean models.
              <i>Geosci. Model Dev.</i> 2022.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2021MS002866">
              <b>Uchida, T.</b>, Q. Jamet, W. Dewar, J. Le Sommer, T. Penduff & D. Balwada.
              Diagnosing the thickness-weighted averaged eddy-mean flow interaction from an eddying North Atlantic ensemble, Part I: The Eliassen-Palm flux.
              <i>J. Adv. Model. Earth Sys.</i> 2022.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1175/JPO-D-21-0217.1">
              <b>Uchida, T.</b>, B. Deremble & S. Popinet.
              Deterministic model of the eddy dynamics for a midlatitude ocean model.
              <i>J. Phys. Oceanogr.</i> 2022.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2021MS002692">
              <b>Uchida, T.</b>, Q. Jamet, A. Poje & W. Dewar.
              An ensemble-based eddy and spectral analysis, with application to the Gulf Stream.
              <i>J. Adv. Model. Earth Sys.</i> 2021.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2021GL094777">
              Khatri, H., S. Griffies, <b>T. Uchida</b>, H. Wang & D. Menemenlis.
              Role of mixed-layer instabilities in the seasonal evolution of eddy kinetic energy spectra in a global submesoscale permitting simulation.
              <i>Geophys. Res. Lett.</i> 2021.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.5281/zenodo.5496375">
              <b>Uchida, T.</b>, B. Deremble, W. Dewar & T. Penduff.
              Diagnosing the Eliassen-Palm flux from a quasi-geostrophic double gyre ensemble.
              In proceedings of the <i>EarthCube Annual Meeting.</i> 2021.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.3390/fluids6060206">
              <b>Uchida, T.</b>, B. Deremble & T. Penduff.
              The seasonal variability of the ocean energy cycle from a quasi-geostrophic double gyre ensemble.
              <i>Fluids.</i> 2021.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2020MS002329">
              Jamet, Q., B. Deremble, N. Wienders, <b>T. Uchida</b> & W. Dewar.
              On wind-driven energetics of subtropical gyres.
              <i>J. Adv. Model. Earth Sys.</i> 2021.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://github.com/earthcube2020/ec20_jones_etal">
              Jones, S., J. Busecke, <b>T. Uchida</b> & R. Abernathey.
              Vertical regridding and remapping of CMIP6 ocean data in the cloud.
              In proceedings of the <i>EarthCube Annual Meeting.</i> 2020.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://www.nature.com/articles/s41467-020-14955-0">
              <b>Uchida, T.</b>, D. Balwada, R. Abernathey, G. McKinley, S. Smith & M. Lévy.
              Vertical iron fluxes support primary production in the open Southern Ocean.
              <i>Nature Comm.</i> 2020.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2019MS001805">
              <b>Uchida, T.</b>, D. Balwada, R. Abernathey, G. McKinley, S. Smith & M. Lévy.
              The contribution of submesoscale over mesoscale eddy iron transport in the open Southern Ocean.
              <i>J. Adv. Model. Earth Sys.</i> 2019.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://doi.org/10.1029/2019JC015355">
              <b>Uchida, T.</b>, D. Balwada, R. Abernathey, C. Prend, E. Boss & S. Gille.
              Southern Ocean Phytoplankton Blooms Observed by Biogeochemical Floats.
              <i>J. Geophys. Res.: Oceans.</i> 2019.
              </a>
            </p>
            <p  class="lead", style="font-size:15px;margin-bottom:1cm">
              <a href="https://doi.org/10.1016/j.ocemod.2017.08.006">
              <b>Uchida, T.</b>, R. Abernathey & S. Smith.
              Seasonality of eddy kinetic energy in an eddy permitting global climate model.
              <i>Ocean Model.</i> 2017.
              </a>
            </p>

            <h2>Non-refereed</h2>
            <p class="lead", style="font-size:15px">
              <a href="https://academiccommons.columbia.edu/doi/10.7916/d8-9s8r-m049">
              <b>Uchida, T.</b>
              <i>Seasonality in surface (sub)mesoscale turbulence and its impact on iron transport and primary production.</i>
              Ph.D. Thesis. 2019.
              </a>
            </p>
            <p class="lead", style="font-size:15px;margin-bottom:1cm">
              <a href="https://www.researchgate.net/publication/338230562_Analysis_of_Island-trapped_Waves_off_the_Izu-Islands">
              <b>Uchida, T.</b>
              <i>Analysis of Island-trapped Waves off the Izu-Islands.</i>
              B.E. Thesis. 2014.
              </a>
            </p>
            <h2>Selected oral & poster presentations</h2>
            <p class="lead", style="font-size:15px">
              <a href="https://youtu.be/3PdPvXbmJCU?feature=shared">
		          <b>Uchida, T.</b>
		          Introduction to Dynamic-Mode Decomposition.
		          <i>COAPS seminar series</i>. Apr. 2024. FL, USA.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="https://youtu.be/XeTRDjzpabc">
		          <b>Uchida, T.</b>, D. Balwada, Q. Jamet, W. Dewar, B. Deremble, T. Penduff & J. Le Sommer.
		          Is there any hope in the mesoscale eddy transport tensor in parametrizing sub-grid eddy dynamics?
		          <i>COAPS seminar series</i>. Feb. 2023. FL, USA.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="https://drakkar2023.sciencesconf.org/">
                <b>Uchida, T.</b>, D. Balwada, Q. Jamet, W. Dewar, B. Deremble, T. Penduff & J. Le Sommer.
                Cautionary tales from the mesoscale eddy transport tensor.
                <i>2023 DRAKKAR Ocean Mod. Workshop</i>. Feb. 2023. Grenoble, France.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="https://youtu.be/9YQnW9ylacU?t=17747">
                <b>Uchida, T.</b>, Q. Jamet, W. Dewar, D. Balwada, J. Le Sommer & T. Penduff.
                Towards a potential vorticity based mesoscale closure scheme.
                <i>CESM Ocean Model Working Group Meeting</i>. Feb. 2021.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="https://ams.confex.com/ams/22FLUID/meetingapp.cgi/Paper/360266">
                <b>Uchida, T.</b>, D. Balwada, R. Abernathey, G. McKinley, S. Smith & M. Lévy.
                A Mechanistic Understanding on Eddy Iron Transport in the Southern Ocean.
                <i>AMS 22nd Conference on AOFD</i>. Jun. 2020. Portland, Maine, USA.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="http://adsabs.harvard.edu/abs/2018AGUFMOS34B..07U">
              <b>Uchida, T.</b>, R. Abernathey, G. McKinley, S. Smith, D. Balwada & M. Lévy.
              Seasonality in eddy iron fluxes and its impact on primary production.
              <i>AGU Fall Meeting</i>. Dec. 2018. Washington D.C., USA.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="../img/Workshop_in_Brest.pdf">
              <b>Uchida, T.</b>, R. Abernathey, G. McKinley, S. Smith, D. Balwada & M. Lévy.
              Seasonality of eddy iron fluxes in the Southern Ocean and its impact on primary production.
              <i>NHOM-Brest: Workshop on Non-Hydrostatic Ocean Mod</i>. Oct. 2018. Brest, France.
              </a>
            </p>
            <p class="lead", style="font-size:15px">
              <a href="../img/idealized-study-seasonal.pdf">
              <b>Uchida, T.</b>, R. Abernathey, S. Smith & D. Balwada.
              Idealized Study of Seasonal Dynamics in the Southern Ocean.
              <i>Gordon Research Conference</i>. Jun. 2018. Andover, USA.
              </a>
            </p>
            <p  class="lead", style="font-size:15px">
              <a href="https://ams.confex.com/ams/21Fluid19Middle/webprogram/Handout/Paper318158/global-seasonal-cycle.pdf">
              <b>Uchida, T.</b>, R. Abernathey & S. Smith.
              The global seasonal cycle of mixed layer instability in a GCM.
              <i>AMS 21st Conference on AOFD & 19th Conference on Mid. Atmos</i>. Jun. 2017. Portland, USA.
              </a>
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../img/publication.jpg" alt="Generic placeholder image" width="400" height="400">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div id="research">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Big-data Oceanography</h2>
            <p class="lead-dark lead"> <b>xwavelet</b><br><a href="https://zenodo.org/doi/10.5281/zenodo.6022738">xwavelet</a> is a Python package for taking the continuous wavelet transform on xarray and dask arrays. It keeps the metadata of the original dataset and provides a clean work flow.<br>
            </p>
            <p class="lead-dark lead"> <b>xrft</b><br><a href="https://xrft.readthedocs.io/en/latest/">xrft</a> is a Python package for taking the fast Fourier transform (FFT) on xarray and dask arrays. It keeps the metadata of the original dataset and provides a clean work flow of FFT.<br>
            </p>
            <p class="lead-dark lead"> <b>xomega</b><br><a href="https://xomega.readthedocs.io/en/latest/">xomega</a> is a Python package for inverting the generalized Omega equation given the right-hand side of the equation. It solves the inversion in Fourier space and provides an efficient work flow.<br>
            </p>
            <p class="lead-dark lead"> <b>oceanmodes</b><br><a href="https://github.com/rabernat/oceanmodes">oceanmodes</a> is a Python package for linear quasigeostrophic normal mode analysis given the background state of velocity and density profile.<br>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/beer.png" alt="Generic placeholder image" width="400" height="400">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Takaya Uchida</strong></h4>
                    <p>Center for Ocean-Atmospheric Prediction Studies<br>Florida State University<br>FL 32310, USA
                    </p>

                    <ul class="list-unstyled">
<!--                         <li><i class="fa fa-phone fa-fw"></i> +1 (347) 429-0971</li> -->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a>tuchida[at]fsu.edu</a>
                    </ul>

                    <!-- <ul class="list-unstyled">
                      <li>  <a href="https://www.linkedin.com/in/julius-busecke-a47027117">LinkedIn</a> </li>
                      <li>  <a href="https://www.researchgate.net/profile/Julius_Busecke">ResearchGate</a> </li>
                    </ul> -->

                    <ul class="list-inline">
                        <!-- <li>
                            <a href="https://vimeo.com/user52830334"><i class="fa fa-vimeo-square fa-fw fa-2x"></i></a>
                        </li> -->
                        <li>
                            <a href="https://github.com/roxyboy"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/takaya-uchida-3a2721b4/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
<!--                         <li>
                            <a href="https://www.researchgate.net/profile/Julius_Busecke"><i class="ai ai-researchgate-square ai-2x"></i></a>
                        </li> -->
<!--                         <li>
                            <a href="https://www.orcid.org/0000-0001-8571-865X"><i class="ai ai-orcid-square ai-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=nXQo4RkAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a>
                        </li> -->

                        <!-- <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li> -->
                    </ul>

                    <br>

<!--                     <hr class="small">
                    <p class="text-muted">Copyright &copy; Julius Busecke 2016</p> -->
                </div>
            </div>
        </div>
<!--         <p class="pull-right"><a href="#">Back to top</a></p> -->
        <!-- <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
